@model IEnumerable<Nibo.App.ViewModel.BankStatementViewModel>



@{
    ViewData["Title"] = "Index";


}

<div class="row col-md-6" style="float: left;">

    @foreach (var item in Model)
    {
        <strong>BankStatements</strong>
        <ul class="list-group">

            <li class="list-group-item">
                <strong>Transactions</strong>
                @foreach (var t in item.Transactions)
                {

                    <ul class="list-group">
                        <li class="list-group-item">IdBankStatement: @Html.DisplayFor(model => t.BankStatementId) </li>
                        <li class="list-group-item">Type: @Html.DisplayFor(model => t.Type) </li>
                        <li class="list-group-item">TransactionPostDate  : @Html.DisplayFor(model => t.TransactionPostDate))</li>
                        <li class="list-group-item">Ammount  : @Html.DisplayFor(model => t.Amount))</li>
                        <li class="list-group-item">Memo  : @Html.DisplayFor(model => t.Memo)) </li>

                    </ul>
                }
            </li>
        </ul>

    }
</div>
<form enctype="multipart/form-data" asp-action="RemoveDuplicates">

    <div class="form-group">
        <input type="submit" value="Remove Duplicates" class="btn btn-primary" />
        <strong>@ViewData["removeDuplicate"]</strong>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#FileUpload").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });

        $("#FileUpload").attr("data-val", "true");
        $("#FileUpload").attr("data-val-required", "Preencha o campo Imagem");
    </script>
}


